@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-md-5 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false);
    <script>
        $(() => {
            var c = location.pathname;
            $('.nav-tabs li a').each(() => {
                var $this = $(this);
                if (c.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })

        })
    </script>

}