@{
    ViewData["Title"] = "About";
}
<div class=" row text-center home">
    <div class="col-4 home_esq">
        <img class="image_logo" src="~/img/logopreto.png" />
    </div>
    <div class="col-8 home_dir">
        <label></label>
        <ul class="list-group list-group-flush mt-2 palavra_home">

            <li class="list-group-item palavra_g" style=" background-color: transparent; ">
                Eu Vou
            </li>
            <li class="list-group-item" style=" background-color: transparent; ">
                Organize seu evento e venda ingressos na maior plataforma do Brasil
            </li>
            <li class="list-group-item" style=" background-color: transparent; ">
                Publique seu evento facilmente e venda os ingressos pelo site
            </li>
            <li class="list-group-item" style=" background-color: transparent; ">
                Organize seu evento e venda ingressos na maior plataforma do Brasil
            </li>
            <li class="list-group-item" style=" background-color: transparent; ">
                Publique seu evento facilmente e venda os ingressos pelo site
            </li>
        </ul>
    </div>
</div>
